<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "automatid",
      "image": "/logo.jpg",
      "description": "labadoras portatiles de 7kg de capacidad",
      "sku": "SKU",
      "mpn": "MPN",
      "brand": {
        "@type": "Brand",
        "name": "automatid"
      },
      "review": {
        "@type": "Review",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "4",
          "bestRating": "5"
        },
        "author": {
          "@type": "Person",
          "name": "leandro"
        }
      },
      "offers": {
        "@type": "Offer",
        "url": "https://lavadorasportatiles2.onrender.com/",
        "priceCurrency": "USD",
        "price": "45",
        "priceValidUntil": "2020-02-02",
       
        "seller": {
          "@type": "ecommerce",
          "name": "leandro"
        }
      }
    }
    </script>
</body>
</html>
