<%- include("./global/header.ejs") -%>

<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="display-4">Inicio</h1>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 text-center">
      <p class="lead">¡Bienvenido! Esta es la página de inicio.</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 text-center">
      <a href="/login" class="btn btn-primary mr-2">Iniciar sesión</a>
      <a href="/registro" class="btn btn-primary">Registrarse</a>
    </div>
  </div>
</div>



<%- include("./global/footer.ejs") -%>
